@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding:0;
    margin:0;
    list-style: none;
}

:root{
    --primary-color: rgb(2, 202, 2);
    --secondary-color: rgb(28, 28, 215);
    --third-color: rgb(244, 244, 5);
    --fourth-color: rgb(234, 39, 39);
}
body{
    width: 100%;
    font-family:"Mulish", sans-serif;
    background-color: #010101;
}

section{
    width: 100%;
    margin: 0 auto;
    padding: 250px 0 250px 0;
}

h1{
    font-size:60px;
    font-weight: 600;
}
h2{
    font-size: 45px;
    color: white;
}
h3{
    font-size: 35px;
}

p{
    font-family:"Space Mono", monospace;
    font-size: 18px;
    line-height: 25px;
    color: white;
}

li{
    font-size: 20px;
}

a{
    font-family: "Space Mono", monospace;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.header-menu-bar li{
    height: 70%;
    font-size: 20px;
    align-self: center;
}

.header-menu-bar a{
    height: 100%;
}

.header-menu-bar a:hover{
    border-bottom: 5px solid white;
    color: white;
    padding: 0 10px;
    transition: 0.5s;
}


button{
    cursor: pointer;
    background-color:transparent;
}


.primary{
    width: 100px;
    height: 40px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}


.primary:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.secondary{
    width: 100px;
    height: 40px;
    color: white;
    background-color: #010101;
    border: none;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
}

.secondary:hover{
    border-bottom: 4px solid white;
}


input{
    font-size: 16px;
    font-family: "Space Mono", monospace; 
    padding-left: 5px;
}

input::placeholder {
    color: #888; /* Change the color of the placeholder text */
    font-size: 16px; /* Change the font size */
    font-family: "Space Mono", monospace; /* Make the placeholder text italic */
    opacity: 1; /* Control the opacity */
}

textarea{
    font-family:"Space Mono", monospace ;
    padding-left: 5px;
}

textarea::placeholder {
    font-family: "Space Mono", monospace;
    font-size: 16px;
    color: #888;
}

/*--------------Header-----------------*/

header, .header-main, .header-main-logo{
    display: flex;
}

header{
    width: 100%;
    height:80px;
    justify-content: center;
    align-items: center;
}

.header-main{
    width: 80%;
    height: 100%;
}

.header-main h2, .header-main a{
    color: white;
    
}
.header-main-logo{
    align-items: center;
    column-gap: 20px;
    font-size: 25px;
    padding: 0 20px 0 0;
    border-right: 4px dotted rgb(49, 255, 49);
}

.header-main{
    align-items: center;
    column-gap: 80px;
    padding:10px;
}

.header-main-logo img{
    height: 80px;
    width: 80px;
    border-radius: 80px;
}

.header-menu-bar{
    height: 100%;
    display: flex;
    column-gap: 20px;
}

.header-menu-bar li a{
    height: 100%;
    display: flex;
    align-items: center;
}


.header-menu-bar :nth-child(4) a{
    border:2px solid orange;
    padding: 0 5px;
    border-radius: 5px;

}

.header-menu-bar :nth-child(4) a:hover{
    padding:0 10px;
    color:#010101;
    background-color: orange;
    border:2px solid orange;
    transition: 1s;
}




/*------------------------------------*/





/*------------Hero-Section------------*/

.herosec-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    padding: 300px 0 300px 0;
}



.herosec-content{
    width:80%;
}

/*------------------------------------*/




/*-----------About-section------------*/
.aboutsec-main{
    display: flex;
    justify-content: center;
}
.aboutsec-content{
    width:80%;
    display: flex;
    justify-content: space-evenly;
}
.aboutsec-text, .aboutsec-content img{
    width: 50%;
}
.aboutsec-content img{
    width:300px;
    height: 300px;
    border-radius: 300px;
}
.aboutsec-text{
    text-align: left;
}

/*------------------------------------*/


/*----------Skillset-section----------*/

.skillset-main, .skillset-content{
    display: flex;
}
.skillset-main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.skillset-content {
    width: 79%;
    justify-content: center;
}

.skillset-content h3{
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
}

.webdev, .dataanal{
    width:45%;
    color:white;
    font-weight: 300;
    text-align:left;
}

.webdev p, .dataanal p{
    width:85%;
    margin: 0 auto;
    font-size: 15px;
}


.webdev{
    background: linear-gradient(to right, black, rgb(220, 144, 2));
    
}
.dataanal{
    background: linear-gradient(to left, black, rgb(1, 112, 1));
}

.webdev div, .dataanal div{
    width: 100%;
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
.webdev div img, .dataanal div img{
    width: 60px;
    height: 60px;
}
.dataanal div :nth-child(3){
    width: 40px;
    height: 60px;
}

/*------------------------------------*/



/*------------Contact-section---------*/

.contact-main{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.contact-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    /* Adjust this value to set the desired opacity */
    z-index: -1; /* Place the background behind the content */
}

.contact-main h3, .contact-main p{
    margin: 10px 0 10px 0;
    font-family:"Space Mono", monospace; 
    font-weight: 400;
}

.contact-content{
    width:80%;
    display: flex;
    justify-content:space-evenly;
}

.contact-content .content, .form{
    width: 45%;
}

.contact-mail, .contact-phone, .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-img img{
    width: 150px;
    height: 150px;
}

.form{
    border-right:2px solid orange;
}
.form form{
    width:80%;
}
.form input{
    width: 90%;
    height: 40px;
    border-radius: 10px;
}

.form textarea{
    width: 90%;
    border-radius: 10px;
}


/*------------------------------------*/





/*----------Animation Classes---------*/

.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-25%);
    transition: all 1s;
}

.hiddenRev{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(25%);
    transition: all 1s;
}

.hiddenAbove{
    opacity: 0;
    filter:blur(5px);
    transform: translateY(-100%);
    transition: all 1s
}

.rolling {
    opacity: 0;
    transform: translateX(-100%) rotate(-360deg);
    transition: all 1s;
}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logoWeb:nth-child(1){
    transition-delay:200ms;
}

.logoWeb:nth-child(2){
    transition-delay:600ms;
}

.logoWeb:nth-child(3){
    transition-delay:1000ms;
}

.logoData:nth-child(3){
    transition-delay:200ms;
}

.logoData:nth-child(2){
    transition-delay:600ms;
}

.logoData:nth-child(1){
    transition-delay:1000ms;
}


.contactContent{
    transition-delay:600ms;
}



/*------------------------------------*/



/*----------------Footer--------------*/

footer{
    width: 100%;
    background-color:white;
}
.footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 60px 10px 60px 10px;
    margin: 0 auto;
}
.footer div, footer nav{
    width: 33%;
}
.footer h2{
  font-size: 45px;
}
.footer h3{
  font-size: 20px;
}
.footer a, .footer h2, .footer h3, .footer  li{
    color: black;
    text-align: center;
}
.gmail-acc{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer-menu :nth-child(6){
    padding:0 5px 0 5px;
    background-color: orange;
    border-radius: 8px;
}

.burger-menu-bar, .burger-btn{
    display:none;
    cursor: pointer;
}

.burger-btn{
    background-image: url(img/burger\ menu.jpg);
    background-size: cover;
}
/*------------------------------------*/





/*-----------------Tablet---------------------*/

@media (max-width: 1200px){
     
    .burger-btn{
        display: block;
        width: 50px;
        height: 50px;
        color:white;
    }

    .burger-menu-bar{
        display:none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background-color: black;
        
    }
    
    .burger-menu-bar ul{
        width:100%;
        height:100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .burger-menu-bar ul li{
        flex-basis: 100%;
        border-top:2px solid white;
    }

    .burger-menu-bar ul li:last-child{
        background-color: orange;
    }

    .burger-menu-bar ul li a{
       display: block;
       height: 100%;
       padding: 50px 0;
       flex-basis: 100%;
       text-align: center;
       font-size: 30px;
       color: white;
    }

    h1{
        font-size:55px;
        font-weight: 600;
    }
    h2{
        font-size: 40px;
        color: white;
    }
    h3{
        font-size: 30px;
    }
    
    p{
        font-family:"Space Mono", monospace;
        font-size: 16.5px;
        line-height: 23px;
        color: white;
    }
    
    li{
        font-size: 20px;
    }
    
    a{
        text-decoration: none;
        cursor: pointer;
    }

    .secondary{
        text-decoration: underline;
    }
    
    
    /*--------------Header-----------------*/
    
    .header-main{
        width: 100%;
        justify-content: space-between;
    }

    .header-main-logo{
        font-size: 20px;
    }

    .header-menu-bar{
        display: none;
    }
    
    /*------------------------------------*/
    
    
    
    
    
    /*------------Hero-Section------------*/
    
   
    
    /*------------------------------------*/
    
    
    
    
    /*-----------About-section------------*/
    
    .aboutsec-main{
        display: flex;
        justify-content: center;
    }
    .aboutsec-content{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 30px;
    }
    .aboutsec-text, .aboutsec-content img{
        width: 80%;
    }
    .aboutsec-content img{
        width:300px;
        height: 300px;
        border-radius: 300px;
    }
    .aboutsec-text{
        text-align: center;
    }

    /*------------------------------------*/
    
    
    /*----------Skillset-section----------*/
    

    
    /*------------------------------------*/
    
    
    
    /*------------Contact-section---------*/
    
    
    .contact-content{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
    .content, .form{
        width: 100%;
    }
       
    
    
    /*----------------Footer--------------*/
    
    .footer{
        justify-content: space-evenly;
        padding: 40px 10px 40px 10px;
    }
    .footer div, .footer nav{
        width: 26.66%;
    }
    .footer h2{
      font-size: 30px;
    }
    .footer h3{
      font-size: 15px;
    }

}
    


/*--------------------------------------------*/







/*--------------Mobile small------------------*/

@media (max-width: 640px){


    section{
        padding: 150px 0 150px 0;
    }

    h1{
        font-size:45px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 25px;
    }
    
    p{
        font-size: 7px;
        line-height: 23px;
    }
    
    .primary, .secondary{
        width: 80px;
    }
    
    .secondary{
        text-decoration: underline;
    }
    
    /*--------------Header-----------------*/
    .header-main{
        justify-content: space-between;
    }

    .header-main-logo{
        font-size: 10px;
        padding-right: none;
        border-right: none;
        padding: 8px 0 5px 0;
        column-gap: 10px;
        border-right: none;
        border-bottom: 4px solid rgb(49, 255, 49);
    }

    .header-menu-bar{
        display: none;
    }

    .burger-btn{
        width: 35px;
        height: 35px;
        background-size: cover;
        background-repeat: no-repeat;
        color:white;
    }

    .burger-menu-bar{
        display:none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background-color: black;
        
    }
    
    .burger-menu-bar ul{
        width:100%;
        height:100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .burger-menu-bar ul li{
        flex-basis: 100%;
        border-top:2px solid white;
    }

    .burger-menu-bar ul li:last-child{
        background-color: orange;
    }

    .burger-menu-bar ul li a{
       display: block;
       height: 100%;
       padding: 50px 0;
       flex-basis: 100%;
       text-align: center;
       color: white;
    }

    /*------------------------------------*/




    /*------------Hero-Section------------*/

    .herosec-main{
        text-align: left;
        padding: 150px 0 190px 0;
    }

    /*------------------------------------*/

    /*-----------About-section------------*/
    .aboutsec-main{
        align-items: center;
    }
    .aboutsec-content{
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 30px;
    }

    .aboutsec-content img{
        width:200px;
        height: 200px;
        border-radius: 200px;
    }
    .aboutsec-text{
        text-align: left;
    }
    .aboutsec-text p{
        font-size: 14px;
        line-height: 23px;
    }

    /*------------------------------------*/

    /*----------Skillset-section----------*/

    .skillset-content {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        margin: 0 auto;
    }

    .webdev, .dataanal{
        width:80%;
        margin: 0 auto;
    }
    

    .webdev div img, .dataanal div img{
        width: 50px;
        height: 50px;
    }
    .dataanal div :nth-child(3){
        width: 30px;
        height: 50px;
    }

    /*------------------------------------*/

    /*------------Contact-section---------*/

    .contact-main p{
        font-size: 15px;
    }

     .contact-content .content, .form{
        width: 100%;
    }

    .contact-img img{
        width: 80px;
        height: 80px;
    }

    /*----------------Footer--------------*/

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        flex-direction: column;
        row-gap: 20px;
        justify-content: none;
        padding: 30px 10px 30px 10px;
    }
    .footer div, .footer nav{
        width: 100%;
    }
    .footer h2{
        font-size: 30px;
    }
    .footer h3{
        font-size: 15px;
    }

    .gmail-acc{
        align-items: center;
    }

    .footer-menu{
        align-items: center;
    }
 
    /*------------------------------------*/
}

/*---------------------------------------------*/

